*{
    margin: 0px;
    padding: 0px;
}
.nav_main{
    opacity: 1;
    top: 0px;
    z-index: 1030;
    background-color: #faf8f8;
    height:60px;
    width: 100%;
    /* display: inline; */
    text-decoration: none;
    position: relative;
    display:flex;
    /* box-shadow: 0px 8px 10px rgb(160, 177, 157); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    
}
.nav_main .nav_left{
    width:25%;
    height:100%;
    font-size: 28px;
    color: #5CB866;
    font-weight:600;
    line-height: 60px;
    text-align: center;
    text-decoration: none;

    position: absolute;
    left: 0px;
}
/* .nav_right_main{
    position: absolute;
    left: 75%;
} */
.nav_main .nav_right{
    display: flex;
    width:40%;
    height:100%;
    color: #5CB866;
    list-style: none;
    position: absolute;
    left: 60%;
}
.nav-item{
    color: #5CB866;
    width: 25%;
    line-height: 60px;
    font-size: 20px;
    text-align: center;

}
.nav-link{
    color:#5CB866;
    text-decoration: none;
    font-weight: 600;
}
.nav-link:hover{
    color:forestgreen;
    
}
.nav_img{
    width:40px;
    height:40px;
    
    border-radius: 50%;
    margin-top: 10px;
}